{% for item in items %}
    <div class="col-xl-3 col-sm-12 col-lg-6 col-12">
    <div class="card">
        <div class="card-body">
            <h5>
				{{ trans(item.name) }}

            </h5>
            <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">
                            {{ item.value }}
                        </h2>
                    </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg {{ item.icon }} text-{{item.color}} ml-auto"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
