{% if title %}

    <li class="nav-item nav-category">
        <span class="nav-link">
            {{ trans(title) }}
        </span>
    </li>
{% endif %}

{% if current_user() %}
    {% for i, item in online %}
    {% if item.items is not empty %}
    {% include 'navigations/mainitems.twig' with {item: item} %}
    {% else %}
    {% include 'navigations/mainitems2.twig' with {item: item} %}
    {% endif %}

    {% endfor %}
{% endif %}
{% if current_user() == null %}
    {% for i, item in offline %}
    {% if item.items is not empty %}
    {% include 'navigations/mainitems.twig' with {item: item} %}
    {% else %}
    {% include 'navigations/mainitems2.twig' with {item: item} %}
    {% endif %}

    {% endfor %}
{% endif %}

{% for i, item in global %}
    {% if item.items is not empty %}
    {% include 'navigations/mainitems.twig' with {item: item} %}
    {% else %}
    {% include 'navigations/mainitems2.twig' with {item: item} %}
    {% endif %}
    {% endfor %}
