{% include "includes/head.twig" with {title: block('title')} %}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg"
                 style="background-image: url('https://clientxcms.com/Themes/CLIENTXCMS/images/hosting/bg.png')">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <div class="d-flex justify-content-center">
                            <img src="{{ config('app.logo') }}" style="width: auto; max-width: 350px; max-height: 200px;">
                        </div>
                        <h4 class="text-center">
                            {{ block('title') }}
                        </h4>
                        {% block body %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/script.twig" %}
{% block scripts %}{% endblock %}</body></html>