{% if inAdmin is not defined %}
<div class="col-md-12 col-xl-6 col-sm-12">
    {% endif %}
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-12">
        {{ field("hostname", item.hostname, trans("proxmox.hostname"))}}
        {{ field("password", item.password, trans("password"), {type: 'password'})}}
        {{ field("os", item.os, trans("proxmox.os"), {options: oses})}}
</div>
            </div>
        </div>
    </div>
{% if inAdmin is not defined %}
    </div>
{% endif %}