<li class="nav-item menu-items">
	<a href="{{ path('contact')}}" class="nav-link">
		<span class="menu-icon"><i class="fa fa-envelope"></i></span
		<span>{{ trans("contact.show")}}</span>
	</a>
</li>
